<h2>Public Recipes</h2>

<ul class="public-recipes-ul-container">
  <% @recipes.each do |recipe| %>
    <li>
      <%= link_to recipe_path(recipe), class:"li-container" do %>
        <div class="left">
          <%= recipe.name %>
          <div class="chef">
            By <%= recipe.user_id %>
          </div>
        </div>
        <div class="right">
          <p>Total food items: number</p>
          <p>Total price: number</p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>