<h2>Users List</h2>

<ul class="users-list-container">
  <% @users.each do |user| %>
    <%= link_to foods_path(user_id: user.id) do %>
      <li> <%= user.name %> </li>
    <% end %>
  <% end %>
</ul>
