/* Path: /app/assets/stylesheets/application.css */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  font-family: sans-serif;
  padding: 5%;
}

.nav-bar-container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

img {
  height: 100%;
}

.title {
  white-space: nowrap;
}

.links-list {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 1rem;
}

.links-list li {
  list-style: none;
  white-space: nowrap;
}

.nav-bar-container li a {
  padding: 2px 5px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

li a:hover {
  background-color: black;
  color: white;
}

span {
  white-space: nowrap;
}

footer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}