.recipe {
  border: 5px solid black;
  margin: 10px 0;
  display: flex;
  padding: 10px 0;
}

.recipe .left {
  width: 25%;
  display: flex;
  flex-direction: column;
}

form[action="/recipes"][method="post"] {
  border: 5px solid black;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

form[action="/recipes"][method="post"] div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

form[action="/recipes"][method="post"] div textarea {
  width: 37.5%;
}

input[type="submit"][value="Create Recipe"] {
  margin: 10px auto;
  display: block;
}

textarea[id="recipe_description"] {
  width: 36%;
}

.right {
  width: 75%;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
}

/* ////////////////////////////// */

/* /////// recipes show  //////// */

/* ////////////////////////////// */

.recipes-show-container {
  border: 5px solid black;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.recipes-show-container h1 {
  text-align: center;
}

.preparation-and-public {
  display: flex;
  justify-content: space-between;
}

.generate-and-add {
  display: flex;
  justify-content: space-between;
}

.ingredients-container {
  border: 1px solid black;
}

.ingredients-container li:nth-child(even) {
  background-color: #f2f2f2;
}

.ingredients-container li:nth-child(odd) {
  background-color: #fff;
}

.ingredients-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ingredients-header span {
  width: 20%;
}

.ingredients-header .double-span {
  width: 40%;
}

.ingredients {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-btn {
  padding: 4px 7px;
  border-radius: 4px;
  text-decoration: none;
  background-color: rgb(216, 216, 216);
  border: 1px solid black;
  color: black;
}
