.shopping-list-container {
  margin: 0 auto;
  width: 80%;
}

.ammount-and-total {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 5px solid black;
}
th, td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #F2F2F2;
}
tr:nth-child(odd) {
  background-color: #F2F2F2;
}